body{
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
    font-family: Karla,sans-serif;
    font-size: 0.8em;
}
.main--container{
    margin: 0 30%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
article{
    display: flex;
    flex-direction: column;
}
article>*{
    margin: 0;
    padding: 0;
}
.font_weight{
    font-weight: 400;
}
.text-white{
    color: white;
}
.grid_white{
    padding: 5% 7%;
    background-color: white;
    grid-column: 1/3;
    grid-row: 1/2;
    border-radius: 10px 10px 0 0;
}
h1{
    margin-bottom: 5%;
    color: hsl(179, 62%, 43%);
    font-weight: 700;
    font-size: 1.8em;
}
.grid_white>h2{
    margin-bottom: 3%;
    color: hsl(71, 73%, 54%);
}
.grid_white>p{
    color: hsl(218, 22%, 67%);
    font-size: 1.2em;
    line-height: 1.5em;
}
.grid_darkcyan{
    padding: 10% 13%;
    background-color: hsl(179, 62%, 43%);
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 0 0 0 10px;
}
h3{
    margin-bottom: 5%;
    font-size: 2em;
    color: white;
}
span{
    color: hsl(179, 62%, 50%);
    font-weight: 400;
    font-size: .6em;
    margin-left: 5%;
}
.grid_darkcyan>p{
    margin-bottom: 10%;
    font-size: 1.1em;
}
button{
    text-decoration: none;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    font-weight: 700;
    width: 100%;
    padding: 7% 0;
    border-style: none;
}
button:hover{
    cursor: pointer;
}
.grid_darkcyan>h2, .grid_lightcyan>h2{
    margin-bottom: 6%;
}
.grid_lightcyan{
    margin: 0;
    padding: 10% 14%;
    background-color: hsl(179, 62%, 50%);
    grid-column: 2/3;
    grid-row: 2/3;
    line-height: 1.5em;
    border-radius: 0 0 10px 0;
}
.grid_lightcyan>p{
    padding: 0 20% 0 0;
}
@media only screen and (max-width:768px){
    body{
        width: auto;
    }
    .main--container{
        display: flex;
        flex-direction: column;
        margin: 15% 5%;
    }
    .grid_white{
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 10% 7.5%;
    }
    .grid_darkcyan{
        grid-column: 1/2;
        grid-row: 2/3;
        border-radius: 0;
        padding: 10% 5%;
    }
    .grid_lightcyan{
        grid-column: 1/2;
        grid-row: 3/4;
        border-radius: 0 0 10px 10px;
        padding: 10% 5%;
    }
    .grid_lightcyan>p{
        padding: 0 30% 0 0;
    }
}